/node_modules
/public/css
/public/js
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
#Dockerfile
#docker-compose.dev.yml
#nginx_conf

data

.DS_Store
auth.json
service-account.json

nova-components/LessonsTree/yarn.lock
nova-components/StudentPerformanceChart/yarn.lock

*.lock
mysql
